body>div{
	display: grid;
	grid-template-columns: 0.9fr 3fr;
	width: 80%;
	margin:auto;
}
*{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	font-family: Lora, sans-serif;
}
/*HEADER*/
header,main{
	font-family: helvetica,arial,sans-serif;
}
header{
	background: #e98528;
	padding: 1.8em;
	text-align: right;
	line-height: 2.2em;
}
header h1 a{
	line-height: 1.4em;
}
header hr{
	margin-top: 1.3em;
	margin-bottom: 0.5em;
}
header a{
		color:#FAEBD7;
		text-decoration: none;
}
/*NAVIGATION BAR*/
nav ul{
	list-style: none;	
}

nav ul li a:link,nav ul li a:visited{
	color: #FAEBD7;
}
nav ul li a:hover{
	text-decoration: underline;
	color: #fff;
}
nav ul li a:active{
	color: #DEB887;
}
/*MAIN*/
main{
	background: #FAEBD7;
	padding: 2em 4.5em;
}
.post-content h2{
		font-size: 1.8em;
		margin-top: 0.2em;
}
.post-content a{
		text-decoration: none;
}
article{
	background: #FFFFFF;
	padding: 2.7em;
	margin-top: 0.8em;
	margin-bottom: 1.5em;
	font-size: 1.2em;
}
.post-content p a{
	color:#6495ED;
}
.post-content p a:visited{
	color:#6495ED;
}
.post-content p a:hover{
	text-decoration: underline;
}
.post-content p a:active{
	color:#DEB887;
}
.post-content h2 a:link{
	color: #000000;
}
.post-content h2 a:visited{
	color:#000000;
}
.post-content h2 a:hover{
	text-decoration: underline;
	color:#6495ED;
}
.post-content h2 a:active{
	color:#DEB887;
}
.post-content figure {
	text-align: center;
	margin-top: 4.5em;
    margin-bottom: 1em;
}
.post-content figure img{
	width: 60%;
}
.post-content p{
	margin-bottom: 1em;
}